# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/*
!media/vehicles/
media/vehicles/*
!media/vehicles/defaults/
staticfiles/

# Environment variables
.env
.env.local

# IDE & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker
*.docker.log

# Coverage & Tests
htmlcov/
.coverage
.coverage.*
.pytest_cache/
